<div class="user_index">
  <%= link_to user_path(user.id) do %>
    <% if user.user_image.attached? %>
      <%= image_tag user.user_image , size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image_square' , size: "100x100" %>
    <% end %>
    <%= user.name %>
  <% end %>
  <%= user.introduction %>
  <div class= "follow_btn_<%= user.id %>">
    <%= render 'relationships/follow_btn' , obj: user %>
  </div>
</div>
