<div class="col-md-8 p-0">
  <%= link_to user_path(user.id) ,class: 'text-light text-decoration-none' do %>
    <% if user.user_image.attached? %>
      <%= image_tag user.user_image , size: "80x80" %>
    <% else %>
      <%= image_tag 'no_image_square' , size: "80x80" %>
    <% end %>
    <%= user.name %>
  <% end %>
</div>
<div class= "follow_btn_<%= user.id %>">
  <%= render 'relationships/follow_btn' , obj: user %>
</div>
