<% post.each do |post| %>
  <div class="post_image d-inline-block">
  　<% if post.post_image.attached? %>
      <%= image_tag post.post_image , size: "480x270" %>
    <% else %>
      <%= image_tag 'no_image_yoko' , size: "480x270" %>
    <% end %>
  </div>
  <div class="post_detail d-inline-block">
    <li>Title: <%= post.title %></li>
    <li>Campsite name: <%= post.campsite_name %></li>
    <li>Campsite address: <%= post.campsite_address %></li>
    <li>Datetime: <%= l post.created_at %></li>
  </div>
<% end %>