<div class="col-md-8 p-0">
  <%= link_to user_path(user.name) ,class: 'text-light text-decoration-none font-weight-bold h5' do %>
    <% if user.user_image.attached? %>
      <%= image_tag user.user_image , size: "80x80" , class: 'user_index_image p-1' %>
    <% else %>
      <%= image_tag 'no_image_square' , size: "80x80" , class: 'user_index_image p-1' %>
    <% end %>
    <%= user.name %>
  <% end %>
</div>
<div class= "follow_btn_<%= user.id %> d-flex align-items-center">
  <%= render 'relationships/follow_btn' , obj: user %>
</div>
