<div class='container px-5'>
  <div class=" row mt-2 ml-2 h1 d-flex align-items-center title_name text-white">
    <%= image_tag 'calot(logo1)' , size: '50x50' %>Calot
  </div>
  <div class="row m-5">
    <%= render 'devise/shared/error_messages' , resource: @user %>
      <div class="col-7 jumbotron" style="background: url(<%= asset_path "camp1.jpg" %>)center; background-size:cover;">
          <div class="p-4 text-center" style="background-color:#FAFAFA80;">
            <h3 style="color:#000000;"><strong>
              あなたの<br />
              素敵なキャンプ<br />
              投稿しませんか？
            </strong></h3>
          </div>
      </div>
      <div class='col-4'>
        <div class="px-5 px-sm-0 border border-dark mb-2 p-2">
          <div class="log_in h2 text-center">ログイン</div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field m-2">
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' %>
              </div>

              <div class="field m-2">
                <%= f.label :パスワード %><br />
                <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control'  %>
              </div>

              <div class="actions">
                <%= f.submit "ログイン" , class: 'btn btn-primary d-flex mx-auto text-decoration-none' %>
              </div>
            <% end %>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path , method: :post , class: 'mx-auto text-decoration-none' %>
        </div>
        <div class="border border-dark p-2">
            アカウントをお持ちでないですか？<br>
            <%= link_to '登録する' , new_user_registration_path ,class: 'text-decoration-none' %>
        </div>
      </div>
  </div>
</div>
