<div class="container px-5 mt-5 mb-5">
  <div class="row h1 justify-content-center">
    "<%= "#{@word}" %>"の検索結果
  </div>
  <% if @range == 'User' %>
    <% @users.each do |user| %>
        <div class="row user_index border m-5">
          <%= render 'users/index' , user: user %>
        </div>
      <% end %>
<% elsif @range == 'Post' %>
  <% @posts.each do |post| %>
    <div class="row post_index border m-5">
      <%= render 'posts/index' , post: post %>
    </div>
  <% end %>
<% elsif @range == 'Tag' %>
  <% @tags.each do |tag| %><br>
    <div class="row m-5 h2">
      <%= render 'posts/post_tags' , tag: tag %>
      <%= render 'posts/tag_counts' , tag: tag %>
    </div>
  <% end %>
<% end %>
</div>