<%= form_with model: post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :写真 %>
    <%= f.file_field :post_image , class: "form-control-file", accept: 'image/*' %>
  </div>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :説明文 %>
    <%= f.text_area :description , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :キャンプ場名 %>
    <%= f.text_field :campsite_name , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :住所 %>
    <%= f.text_field :campsite_address , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :タグ %>
    <P>スペースを入力することで複数のタグを付けることができます。</P>
    <P>例:テント 初心者 冬キャン</P>
    <%= f.text_field :name , value: @tag_list , class: 'form-control' %>
  </div>
  <% if controller.controller_name == 'posts' && controller.action_name == 'new' %>
  <div class="form-group">
    <%= f.submit '新規投稿' ,class: 'btn btn-success' %>
  </div>
  <% else %>
  <div class="form-group">
    <%= f.submit '編集内容を送信' ,class: 'btn btn-success' %>
  </div>
  <% end %>
<% end %>