<div class="border-right border-dar">
    <%= link_to post_path(post.id) do %>
      <div class="post_image d-inline-block">
        <% if post.post_image.attached? %>
          <%= image_tag post.post_image , size: "480x270" %>
        <% else %>
          <%= image_tag 'no_image_yoko' , size: "480x270" %>
        <% end %>
      </div>
    <% end %>
</div>
<div class="pl-1">
      <div class="favorite_btn_<%= post.id %> d-inline-block">
        <%= render 'favorites/favorite_btn' , post: post %>
      </div>
      <div class="d-inline-block">
        <%= link_to post_path(post) , class: 'text-dark text-decoration-none' do %>
          <%= render 'comments/count' , comment: post.comments %>
        <% end %>
      </div>
    <div>
      <li class="h3 mb-1">
        <%= link_to post_path(post.id) , class: 'text-white text-decoration-none' do %>
          <%= post.title %>
        <% end %>
      </li>
      <li class='mb-1'><%= post.description %></li>
      <li>
        <i class="fas fa-tent"></i>
        :<%= post.campsite_name %>
      </li>
      <% post.tags.each do |tag| %>
        <li><%= render 'posts/post_tags' , tag: tag %></li>
      <% end %>
      <li class="mt-2">
        <i class="fas fa-calendar-days"></i>
        <%= l post.created_at %>
      </li>
    </div>
</div>
