  <%= link_to post_path(post.id) do %>
    <div class="post_image d-inline-block">
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image , size: "480x270" %>
      <% else %>
        <%= image_tag 'no_image_yoko' , size: "480x270" %>
      <% end %>
  <% end %>
    </div>
    <div class="post_detail d-inline-block">
      <div class="favorite_btn_<%= post.id %>">
        <%= render 'favorites/favorite_btn' , post: post %>
      </div>
        <%= link_to post_path(post.id) do %>
      <li>Title: <%= post.title %></li>
        <% end %>
      <li>Description: <%= post.description %></li>
      <li>Campsite name: <%= post.campsite_name %></li>
      <li>Campsite address: <%= post.campsite_address %></li>
      <li>Datetime: <%= l post.created_at %></li>
    </div>

