<div class="border-right border-dar">
    <%= link_to post_path(post.id) do %>
      <div class="post_image d-inline-block">
        <% if post.post_image.attached? %>
          <%= image_tag post.post_image, size: "660x438" %>
        <% else %>
          <%= image_tag 'no_image_yoko.jpg'%>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pl-1">
    <div class="post_detail d-inline-block">
      <div class="favorite_btn_<%= post.id %>">
        <span><%= render 'favorites/favorite_btn' , post: post %></span>
      </div>
        <li>タイトル:
        <%= link_to post_path(post.id) , class: 'text-light' do %>
          <%= post.title %>
        <% end %>
        </li>
        <li>説明文: <%= post.description %></li>
        <li>キャンプ場名: <%= post.campsite_name %></li>
        <li>住所: <%= post.campsite_address %></li>
        道具:<% post.camp_tools.each do |tool| %>
        <li><%= tool.tool_name %></li>
        <% end %>
        <li><%= l post.created_at %></li>
    </div>
</div>
