<div class="border-right border-dar">
    <%= link_to post_path(post.id) do %>
      <div class="post_image d-inline-block">
        <% if post.post_image.attached? %>
          <%= image_tag post.post_image, size: "660x438" %>
        <% else %>
          <%= image_tag 'no_image_yoko.jpg'%>
        <% end %>
      </div>
    <% end %>
</div>
<div class="pl-1">
    <div class="post_detail d-inline-block">
      <div class="favorite_btn_<%= post.id %>">
        <span><%= render 'favorites/favorite_btn' , post: post %></span>
      </div>
        <li>
          <%= link_to post_path(post.id) , class: 'text-light h3' do %>
            <%= post.title %>
          <% end %>
        </li>
        <li><%= post.description %></li>
        <li>
          <i class="fas fa-tent"></i>
          :<%= post.campsite_name %>
        </li>
        <li class="d-flex align-items-center">
          <i class="fas fa-location-pin h5 mr-2 mb-0"></i>
          :<%= post.campsite_address %>
        </li>
        <li>
          <% post.camp_tools.each do |tool| %>
            <i class="fas fa-hammer"></i>:<%= tool.tool_name %><br>
          <% end %>
        </li>
        <li><%= l post.created_at %></li>
    </div>
</div>
