<div class="container px-5 mt-5 mb-5">
  <div class="row user_index border shadow">
    <%= render 'users/show' ,user: @post.user %>
  </div>
  <div class="row post_index border shadow">
    <%= render 'posts/show' ,post: @post %>
  </div>
  <% @post_tags.each do |tag| %>
    <i class="fas fa-tag"></i><%=render 'posts/tag_lists' , tag: tag %>
  <% end %>
  <div class="comment_count">
    <%= render 'comments/count' , comment: @post.comments %>
  </div>
  <div class="comment_index">
    <%= render 'comments/index' , post: @post %>
  </div>
  <div class="comment_form">
    <%= render 'comments/form' , post: @post , comment: @comment %>
  </div>
  <div class="float-right">
    <% if @post.user.id == current_user.id %>
      <%= link_to '投稿を編集する' , edit_post_path(@post) , class: 'btn btn-success'  %>
      <%= link_to '投稿を削除する' , post_path(@post) , method: :delete ,class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
